section {
    /* width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-position: center; */
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    background-image: url(../img/rose.jpg);
    background-repeat: no-repeat; /* 반복 */
    background-position: center; /* 위치 중앙 */
    background-size: cover; /* 크기에 맞춰 채움, 
                                            contain 이미지 크기 유지하면서 채우기 */
}